
head
  title Jade Example
  script(src="/components/jquery/dist/jquery.min.js")
  link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.min.css")
  link(rel="stylesheet", href="/components/fontawesome/css/font-awesome.min.css")


  script(src="/components/bootstrap/dist/js/bootstrap.min.js")
  script(src="/components/moment/min/moment.min.js")
  script(src="/components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js")
  script(src="/components/jstimezonedetect/jstz.js")
  script(src="/components/angular/angular.min.js")
  script(src="/components/chrono/chrono.min.js")
  script(src="/components/lodash/lodash.min.js")
  script(src="/jquery.ui/jquery-ui.min.js")
  script(src="/ng-app/app.js")
  link(rel="stylesheet", href="/style.css")
  script(src="/thyme.js")

